@font-face {
    font-family: 'poppinsblack';
    src: url('../fonts/poppins-black-webfont.woff2') format('woff2'),
        url('../fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
        url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #212121;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #047439;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #C5C3C3;
}

a:hover {
    color: #37808d;
    transition: 0.3s all;
}

#logar {
    border: 2px solid #37808d;
    padding: 10px;
    border-radius: 15px;
}

#logar:hover {
    color: #C5C3C3;
    background: #37808d;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: #37808d;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 650px;
    margin-top: 125px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #37808d;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

textarea {
    width: 95%;
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-top: 20px;
    transition: all 0.5s;
    border-radius: 20px;

}

.redes {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 40px;
    letter-spacing: 30px;
}

@media screen and (max-width: 720px) {
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    ul {
        align-items: center;
    }

    .redes {
        display: none;
    }

    .sumir{
        display: inline-block;
    }

    .centro{
        display: flex;
        width: 80%;
        height: 30px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}